
$background-color: #3B4664;
$darker-color: #252D44;
$text-color: black;
$contrast-text-color:#fff;

$button-color: (
    regular: #EAE3DB,
    accent: #667089,
    contrast: #D13F30
);

$spacing:1rem;